<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Workers</title>
        <link rel="stylesheet" href="../css/styles-workersI .css" th:href="@{../css/styles-workers.css}">
    </head>

<body>
       <form th:action="@{/screeningform}" th:object="${screeningForm}" method="POST">
            <table>
                <tr>
                    <td>Screening ID</td>
                    <td><input type="text" name="id"/></td>
                </tr>
                <tr>
                    <td>Screening Date</td>
                    <td><input type="text" name="date"/></td>
                </tr>
                <tr>
                    <td>Screening movieId</td>
                    <td>
                        <select name="movieId">
                            <option th:each="movies :${movieList}"
                            th:text="${movies.title}" th:value="${movies.id}"
                            />
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Screening auditoriumId</td>
                    <td><input type="text" name="auditoriumId"/></td>
                </tr>
            </table>
            <input type="submit" value="Save"/>

        </form>
<!--

        <div class="repertuar">
            <h2>Zarządzanie seansami Administrator</h2>
			<button onclick="openWin()" class="add" >Dodaj</button>

            <div th:if="${not #lists.isEmpty(movieScreeningEntity)}" >
                <h2> Screening list</h2>

                    &lt;!&ndash;<ul class="np" th:each="movieScreeningEntity : ${movieScreeningEntity}">
                        <li th:text="${movieScreeningEntity.id} + ' ' + ${movieScreeningEntity.screeningDate} + ' ' + ${movieScreeningEntity.movieTitle}"></li>
                    </ul>&ndash;&gt;

                <div class="np" th:each="movieScreeningEntity : ${movieScreeningEntity}">

                <input type="text" th:value="${movieScreeningEntity.id}"/>
                </div>

            </div>


            <li class="np">10:00 <a href="#">King kong</a> <button onclick="openWin()" class="buy-ticket">Kup bilet</button></li>

        </div>
-->

        <script>
            var myWindow;
            
            function openWin() {
              myWindow = window.open("webpages/add-movie.html", "", "width=500, height=500");
            }
            
            function resizeWin() {
              myWindow.resizeTo(250, 250);
              myWindow.focus();
            }
            </script>

    </div>
</body>
</html>
